#
# component profile for ruby-1.9.3-p286
#

{{COMPONENT_PREFIX}}_HOME={{COMPONENT_HOME}}
{{COMPONENT_PREFIX}}_CONFIG={{COMPONENT_CONFIG}}
{{COMPONENT_PREFIX}}_BASE={{COMPONENT_BASE}}
{{COMPONENT_PREFIX}}_LOGS={{COMPONENT_LOGS}}
export {{COMPONENT_PREFIX}}_HOME {{COMPONENT_PREFIX}}_CONFIG {{COMPONENT_PREFIX}}_BASE {{COMPONENT_PREFIX}}_LOGS

PATH=${{COMPONENT_PREFIX}}_HOME/bin:$PATH
export PATH

