#
# component profile for tomcat-7.0.32
#

TOMCAT_HOME={{COMPONENT_HOME}}
TOMCAT_CONFIG={{COMPONENT_CONFIG}}
TOMCAT_BASE={{COMPONENT_BASE}}
TOMCAT_LOGS={{COMPONENT_LOGS}}
export TOMCAT_HOME TOMCAT_CONFIG TOMCAT_BASE TOMCAT_LOGS

PATH=$TOMCAT_HOME/bin:$PATH
export PATH

