<?xml version='1.0' encoding='utf-8'?>
<Server port="{{TOMCAT_SHUTDOWN_PORT}}" shutdown="SHUTDOWN">

  <!-- APR library loader -->
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />

  <!-- Initialize Jasper prior to webapps being loaded -->
  <Listener className="org.apache.catalina.core.JasperListener" />

  <!-- Prevent memory leaks due to use of particular java/javax APIs -->
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <!-- Global JNDI resources -->
  <GlobalNamingResources />

  <!-- Catalina service -->
  <Service name="Catalina">

    <!-- Define a non-SSL HTTP/1.1 Connector on port {{TOMCAT_HTTP_PORT}} -->
    <Connector port="{{TOMCAT_HTTP_PORT}}"
               protocol="HTTP/1.1"
               proxyName="{{TOMCAT_PROXY_NAME}}"
               proxyPort="443"
               scheme="https"
               secure="true"
               socketBuffer="16384"
               maxHttpHeaderSize="32768"
               connectionTimeout="60000"
               maxPostSize="-1"
               maxSavePostSize="-1"
               acceptorThreadCount="2"
               acceptCount="128"
               maxThreads="512"
               minSpareThreads="64"
               URIEncoding="UTF-8"
               />

    <!-- Define an AJP/1.3 Connector on port {{TOMCAT_AJP_PORT}} -->
    <Connector port="{{TOMCAT_AJP_PORT}}"
               protocol="AJP/1.3"
               proxyName="{{TOMCAT_PROXY_NAME}}"
               proxyPort="443"
               scheme="https"
               secure="true"
               connectionTimeout="60000"
               maxPostSize="-1"
               maxSavePostSize="-1"
               acceptorThreadCount="2"
               acceptCount="128"
               maxThreads="512"
               minSpareThreads="64"
               URIEncoding="UTF-8"
               />

    <!-- Catalina engine -->
    <Engine name="Catalina" defaultHost="localhost" jvmRoute="{{TOMCAT_JVM_ROUTE}}">

      <!-- Cluster definition -->
      <Cluster className="org.apache.catalina.ha.tcp.SimpleTcpCluster" channelSendOptions="8">

        <Manager className="org.apache.catalina.ha.session.DeltaManager"
                 expireSessionsOnShutdown="false"
                 notifyListenersOnReplication="true"
                 />

        <Channel className="org.apache.catalina.tribes.group.GroupChannel">

          <Membership className="org.apache.catalina.tribes.membership.McastService"
                      address="{{TOMCAT_CLUSTER_MCAST_IPADDR}}"
                      port="{{TOMCAT_CLUSTER_MCAST_PORT}}"
                      frequency="500"
                      dropTime="3000"
                      />

          <Receiver className="org.apache.catalina.tribes.transport.nio.NioReceiver"
                    address="auto"
                    port="{{TOMCAT_CLUSTER_RECV_PORT}}"
                    selectorTimeout="100"
                    maxThreads="8"
                    />

          <Sender className="org.apache.catalina.tribes.transport.ReplicationTransmitter">
            <Transport className="org.apache.catalina.tribes.transport.nio.PooledParallelSender" />
          </Sender>

          <Interceptor className="org.apache.catalina.tribes.group.interceptors.TcpFailureDetector" />
          <Interceptor className="org.apache.catalina.tribes.group.interceptors.MessageDispatch15Interceptor" />
          <Interceptor className="org.apache.catalina.tribes.group.interceptors.ThroughputInterceptor" />

        </Channel>

        <Valve className="org.apache.catalina.ha.tcp.ReplicationValve"
               filter=".*\.gif;.*\.js;.*\.jpg;.*\.png;.*\.htm;.*\.html;.*\.css;.*\.txt;"
               />

        <Valve className="org.apache.catalina.ha.session.JvmRouteBinderValve"
               enabled="true"
               sessionIdAttribute="takeoverSessionID"
               />	

        <ClusterListener className="org.apache.catalina.ha.session.JvmRouteSessionIDBinderListener" />
        <ClusterListener className="org.apache.catalina.ha.session.ClusterSessionListener" />

      </Cluster>

      <!-- Localhost virtual host -->
      <Host name="localhost"  appBase="webapps" unpackWARs="true" autoDeploy="true">

        <!-- Define an Apache-style access log to track connections --> 
        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="logs"
               prefix="localhost_access_log."
               suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b"
               />

      </Host>

    </Engine>

  </Service>

</Server>

