#
# component profile for oraclient-11.2.0.3
#

{{COMPONENT_PREFIX}}_HOME={{COMPONENT_HOME}}
{{COMPONENT_PREFIX}}_CONFIG={{COMPONENT_CONFIG}}
{{COMPONENT_PREFIX}}_BASE={{COMPONENT_BASE}}
{{COMPONENT_PREFIX}}_LOGS={{COMPONENT_LOGS}}
export {{COMPONENT_PREFIX}}_HOME {{COMPONENT_PREFIX}}_CONFIG {{COMPONENT_PREFIX}}_BASE {{COMPONENT_PREFIX}}_LOGS

PATH=$JAVA_HOME/bin:$PATH
export PATH

PATH=${{COMPONENT_PREFIX}}_HOME:$PATH
export PATH

LD_LIBRARY_PATH=${{COMPONENT_PREFIX}}_HOME:$LD_LIBRARY_PATH
export LD_LIBRARY_PATH

TNS_ADMIN=${{COMPONENT_PREFIX}}_CONFIG
export TNS_ADMIN

