#
# component init script for kc tomcat-7.0.33
#

#
# component environment

KC_TOMCAT_HOME={{COMPONENT_HOME}}
KC_TOMCAT_CONFIG={{COMPONENT_CONFIG}}
KC_TOMCAT_BASE={{COMPONENT_BASE}}
KC_TOMCAT_LOGS={{COMPONENT_LOGS}}

#
# functions

tomcat_kc_start () {
    check_user_and_group
    if check_process {{TOMCAT_INSTANCE_IDENTIFIER}}
    then
        echo "Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} is already running."
        return;
    else
        echo "Starting Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} ..."
        
        CATALINA_HOME=${KC_TOMCAT_HOME}
        CATALINA_BASE=${KC_TOMCAT_BASE}
        export CATALINA_HOME CATALINA_BASE

        $CATALINA_HOME/bin/startup.sh
        sleep 1
        if check_process {{TOMCAT_INSTANCE_IDENTIFIER}}
        then
            echo "Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} started."
            return;
        else
            echo "Unable to start Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} -- check the logs!"
        fi

        unset CATALINA_HOME CATALINA_BASE

        return;
    fi
}

tomcat_kc_stop() {
    if check_process {{TOMCAT_INSTANCE_IDENTIFIER}}
    then
        echo "Stopping Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} ..."

        CATALINA_HOME=${KC_TOMCAT_HOME}
        CATALINA_BASE=${KC_TOMCAT_BASE}
        export CATALINA_HOME CATALINA_BASE

        $CATALINA_HOME/bin/shutdown.sh
        sleep 5
        if check_process {{TOMCAT_INSTANCE_IDENTIFIER}}
        then
            PIDS=`pgrep -f -d' ' {{TOMCAT_INSTANCE_IDENTIFIER}}`
            echo "Unable to stop Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}}: running PIDS are '$PIDS'."
            return;
        else
            echo "Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} stopped."
        fi

        unset CATALINA_HOME CATALINA_BASE
        return;
    else
        echo "Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} is already stopped."
        return;
    fi
}

tomcat_kc_status () {
    if check_process {{TOMCAT_INSTANCE_IDENTIFIER}}
    then
        PIDS=`pgrep -f -d' ' {{TOMCAT_INSTANCE_IDENTIFIER}}`
        echo "Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} is running: PIDS are '$PIDS'."
    else
        echo "Tomcat application server {{TOMCAT_INSTANCE_IDENTIFIER}} is stopped."
    fi
    return;
}

tomcat_kc_execute () {
    case "$1" in

    'start')
           tomcat_kc_start
           exit 0
           ;;
    'stop')
           tomcat_kc_stop
           exit 0
           ;;
    'status')
           tomcat_kc_status
           exit 0
           ;;
    *)
           usage
           exit 1
           ;;
    esac
}
