#
# component profile for kfs tomcat-7.0.33
#

KFS_TOMCAT_BASE={{COMPONENT_BASE}}
KFS_TOMCAT_LOGS={{COMPONENT_LOGS}}
export KFS_TOMCAT_BASE KFS_TOMCAT_LOGS

KFS_CATALINA_HOME={{COMPONENT_HOME}}
KFS_CATALINA_BASE={{COMPONENT_BASE}}
export KFS_CATALINA_HOME KFS_CATALINA_BASE

