#
# component profile for kc tomcat-7.0.33
#

KC_TOMCAT_BASE={{COMPONENT_BASE}}
KC_TOMCAT_LOGS={{COMPONENT_LOGS}}
export KC_TOMCAT_BASE KC_TOMCAT_LOGS

KC_CATALINA_HOME={{COMPONENT_HOME}}
KC_CATALINA_BASE={{COMPONENT_BASE}}
export KC_CATALINA_HOME KC_CATALINA_BASE

