#
# component profile for {{TOMCAT_THIS_INSTANCE}} tomcat-7.0.33
#

{{TOMCAT_THIS_INSTANCE_PREFIX}}_TOMCAT_BASE={{COMPONENT_BASE}}
{{TOMCAT_THIS_INSTANCE_PREFIX}}_TOMCAT_LOGS={{COMPONENT_LOGS}}
export {{TOMCAT_THIS_INSTANCE_PREFIX}}_TOMCAT_BASE {{TOMCAT_THIS_INSTANCE_PREFIX}}_TOMCAT_LOGS

{{TOMCAT_THIS_INSTANCE_PREFIX}}_CATALINA_HOME={{COMPONENT_HOME}}
{{TOMCAT_THIS_INSTANCE_PREFIX}}_CATALINA_BASE={{COMPONENT_BASE}}
export {{TOMCAT_THIS_INSTANCE_PREFIX}}_CATALINA_HOME {{TOMCAT_THIS_INSTANCE_PREFIX}}_CATALINA_BASE

